[submodule "ACORN"]
	path = ACORN
	url = https://github.com/guestrin-lab/ACORN.git
	branch = main
[submodule "qpl"]
	path = qpl
	url = https://github.com/intel/qpl.git
[submodule "milvus-lite"]
	path = milvus-lite
	url = https://github.com/milvus-io/milvus-lite.git
